.leaflet-container{
    height: 74.5vh;
}

.leaflet-control-geosearch form{
    height: 60px;
    width: 500px;
}

.leaflet-control-geosearch form input.glass{
    font-size: 20px;
    height: 50px;
}

.leaflet-control-geosearch form div.results{
    font-size: 20px;
}

.leaflet-control-geosearch form div.results div{
    font-size: 20px;
    height: 50px;
}

.leaflet-control-geosearch form a.reset{
    font-size: 30px;
}

.leaflet-container.cursor {
    cursor: url("../public/addLocation.svg"), auto;
  }

.user_location_popup .leaflet-popup-tip-container{
  margin-left: -8px;
}

.leaflet-popup{
  bottom: 36px !important;
}

.leaflet-popup-tip-container{
  margin-left: -25px !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }